@model IEnumerable<GigHub.Models.ApplicationUser>

@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists I'm Following</h2>

<ul class="gigs voffset4">
    @foreach (var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>
